
.login-main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-main h1{
    padding: 0.1rem;
    margin-top: 0.1rem;
    margin-bottom: 0.7rem;
}

.logo-design{
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0;
}
.dark-bl{
    color: rgba(252, 252, 255, 0.431);
}

.logo-icon{
    color: aqua;
}

.dot{
    color: red;
    font-size: 3rem;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(245, 245, 245, 0.204);
  padding: 2rem;
  max-width: 25rem;
  width: 95%;
  border-radius: 0.5rem;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.3);
  transition: ease 0.4s;
}

.login-section:hover{
     box-shadow: 0 0px 25px rgba(255, 255, 255, 0.3);
     transform: scale(1.02);
     transition: ease 0.4s;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}

.log-sec {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.log-sec input {
  background: transparent;
  border-radius: 0.5rem;
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid rgba(245, 245, 245, 0.556);
  color: white;
}

button {
  padding: 0.7rem;
  background-color: #2766a0e6;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
}

button:hover {
  background-color: #5a4bb5;
}

@media screen and (max-width:426px) {
    .login-section{
        max-width: 75vw;
        padding: 1rem;
    }

    .login-form {
        gap: 1rem;
    }

    button{
          padding: 0.5rem;
    }

    .log-sec input {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}